<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

		<title>Trivia App</title>
	</head>
	<body>
	<!-- <img src="/assets/images/FlagTemplate.jpg" class="flag-template" alt="U.S. Flag Template" /> -->
	<img src="/assets/images/usaTrivia.png" class="trivia-logo" alt="U.S. Trivia Logo" />
		
		{{{ body }}}
		<div class="login-container">
			{{#if logged_in}}
			<a href="/users/sign-out" id="sign-out">Sign Out ({{this.username}})</a> | <a href="/scores/project2.js">Trivia</a>

			<!-- <p class="clear"><strong>logged_in:</strong> {{logged_in}} |
			<strong>user_email:</strong> {{user_email}} |
			<strong>user_id:</strong> {{user_id}} |
			<strong>username:</strong> {{username}}</p> -->
		{{else}}
			<a href="/users/sign-in">Sign In</a>
			<a href="/users/new">Register</a>
		{{/if}}
						
	</div>	
	<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
		<script src="/assets/js/project2.js"></script> -->
		<!-- <script src="/assets/js/hangman.js"></script>
		<script src="/assets/js/quiz.js"></script> -->
		<script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/assets/js/project2.js"></script>

	</body>

</html>
